<?xml version="1.0" encoding="utf-8"?>
<resources>
    <color name="theme_color">#__THEME_RGB__</color>
    <color name="ic_launcher_background">#__THEME_RGB__</color>
    <color name="splash_background">#__THEME_RGB__</color>
    <color name="white">#FFFFFF</color>
</resources>
