<?xml version="1.0" encoding="utf-8"?>
<resources>

    <style name="Theme.WebToApk" parent="Theme.AppCompat.Light.NoActionBar">
        <item name="colorPrimary">@color/theme_color</item>
        <item name="colorPrimaryDark">@color/theme_color</item>
        <item name="colorAccent">@color/theme_color</item>
        <item name="android:windowBackground">@color/white</item>
    </style>

    <style name="Theme.WebToApk.Splash" parent="Theme.WebToApk">
        <item name="android:windowBackground">@drawable/splash_bg</item>
    </style>

</resources>
